src/main/mule/db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="39c8c81b-e70a-48b0-b1fb-e7f787b90267">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dbFlow" doc:id="23bb17b5-5acd-49f4-afee-775d2863ca38" >
		<http:listener doc:name="Listener" doc:id="1ad0617b-094b-45cb-a6cb-1e9528ca11be" config-ref="HTTP_Listener_config" path="/greeting"/>
		<set-payload value="#['Hello World']" doc:name="Set Payload" doc:id="7f967f25-6b83-46af-b8a5-d1caf2ca415b" />
	</flow>
</mule>
